body{
    background: linear-gradient(to right,red,blue) ;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#assessment{
    padding: 5px 20px;
    background-color:#337AB7;
    border-style: none;
    color: white;
}

#user-name{
    height: 20px;
}
